body{
    background-image: linear-gradient(rgb(247, 247, 247) ,purple);
    height: 100vh;
  }
  
  .container {
  max-width: 99vh;
  border: 2px solid black;
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow: auto;
  margin-bottom: 20px;
  }
  .message {
  background-color: rgb(249, 249, 33);
  width: 24%;
  padding: 10px;
  margin: 20px 12px;
  border: 2px solid black;
  border-radius: 10px;
  }
  
  .left {
  float: left;
  clear: both;
  }
  
  .right {
  float: right;
  clear: both;
  }
  #send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 99vh;
    width: 100%;
  }
  #messageinp{
    width: 70%;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
  }
  .btn{
    height: 40px;
    width: 70px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
  }
  .btn1{
    display: block;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 45%;
    margin-top: 90px;
    height: 40px;
    width: 70px;
  }
  